html(lang="en")
  head
    meta(charset="utf-8")
    title= pageTitle
    link(rel="stylesheet",href="../css/style.css")
  body
    include _header
    include _footer
    h1 Jade - node template engine
    #container.col.class1.class2
      p You are amazing
      p sdfdsfdsf
        span
        a(href="javascript") http://baidu.com
        - var a = '../images/a.png';
        img(src=a, alt="images")
        img(src=a, alt="images")
        img(src=a, alt="images")
        img(src=a, alt="images")
        img(src=a, alt="images")
        img(src=a, alt="images")
        img(src=a, alt="images")
        img(src=a, alt="images")
        img(src=a, alt="images")
        img(src=a, alt="images")
        img(src=a, alt="images")
        img(src=a, alt="images")
        img(src=a, alt="images")
        img(src=a, alt="images")
        img(src=a, alt="images")
        img(src=a, alt="images")
        img(src="../images/b.jpg", alt="images1")


